<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>BASIC VALIDATION</h2>
                <div class="body">
                    <form [formGroup]="myform" novalidate>
                        
                        <fieldset formGroupName="name">
                            <div class="form-group form-float">
                                <div class="form-line" [ngClass]="{'error':firstname.invalid && (firstname.dirty || firstname.touched)}">
                                    <input type="text" class="form-control" formControlName="firstname" required>
                                    <label class="form-label">Firstname</label>
                                </div>
                                <label class="error" *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                                    <p *ngIf="firstname.errors.required">firstname is required</p>
                                </label>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line" [ngClass]="{'error':lastname.invalid && (lastname.dirty || lastname.touched)}">
                                    <input type="text" class="form-control" formControlName="lastname" required>
                                    <label class="form-label">lastname</label>
                                </div>
                                <label class="error" *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                                    <p *ngIf="lastname.errors.required">lastname is required</p>
                                </label>
    
                            </div>
                        </fieldset>
                        
                        <div class="form-group form-float">
                            <div class="form-line" [ngClass]="{'error':email.invalid && (email.dirty || email.touched)}">
                                <input type="email" class="form-control" formControlName="email" required>
                                <label class="form-label">email</label>
                            </div>
                            <label class="error" *ngIf="email.errors && (email.dirty || email.touched)">
                                    <p *ngIf="email.errors.required">email is required</p>
                                    <p *ngIf="email.errors.pattern && (email.dirty || email.touched)">The email address must contain at least the @ character</p>
                            </label>
                        </div>

                        <div class="form-group form-float">
                            <div class="form-line" [ngClass]="{'error':password.invalid && (password.dirty || password.touched)}">
                                <input type="password" class="form-control" formControlName="password" required>
                                <label class="form-label">Password</label>
                            </div>
                            <label class="error" *ngIf="password.errors && (password.dirty || password.touched)">
                                <p *ngIf="password.errors.required">Password is required</p>
                                <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters</p>
                            </label>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line" [ngClass]="{'error':password.invalid && (password.dirty || password.touched)}">
                                <select class="form-control show-tick" formControlName="language" required>
                                    <option value="">-- Please select --</option>
                                    <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
                                </select>
                                <label class="form-label">Language</label>
                            </div>
                            <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            <label class="error" *ngIf="language.errors && (language.dirty || language.touched)">
                                <p *ngIf="language.errors.required">language is required</p>
                            </label>
                        </div>
                        <!-- <div class="form-group">
                            <label for="languag<select class="form-control show-tick"></label><select class="form-control show-tick"></label>e">Language</label>
                            <select name="" id="" class="form-control" formControlName="language" required>
                                <option value="">Please a language</option>
                                <option *ngFor="let lang of langs" [value]="lang" >{{lang}}</option>
                            </select>
                        </div> -->
                            
                        <pre>{{ myform.value | json}}</pre>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>